
.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  text-align: center;
  background-color: #fff4ee;
  height: 100vh;

  h2{
    font-size: 25px;
    line-height: 27px;
  }

  .content{
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;;

    div{
      font-size: 17px;
      font-weight: 500;
      line-height: 20px;
      &:not(:last-child){
        margin-bottom: 10px;
      }


      p{
        display: inline;
      }
    }
  }

  .back{
    margin-top: 50px;

    a{
      text-decoration: none;
      font-size: 17px;
      line-height: 19px;
      border-radius: 50px;
      padding: 10px 50px;
      background-color: #5EC576;
      color: #fff;
    }
  }



}