
.password-wrapper{
  display: flex;
  align-items: center;
  height: 45px;
  border-radius: 8px;
  font-size: 18px;
  background-color: #fff;
  position: relative;

  &:focus-within {
    border-color: #25d3c2;
    outline: none;
  }

  .eye-icon{
    display: flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    right: 8px;

    ion-icon {
      font-size: 22px;
      color: #e1e3eb;
    }
  }
}